<template>
	<div class="author">

		<g-image alt="Author image" class="author__image" src="~/assets/images/leo.jpg" width="180" height="180" blur="5" />

		<h1 v-if="showTitle" class="author__site-title">
			{{ $static.metaData.siteName }}
		</h1>

		<p class="author__intro">
			It's about damn time
		</p>

		<p class="author__links">
			<a href="//github.com/leovanhaaren">GitHub</a>
			<a href="//linkedin.com/in/leo-van-haaren-32a90499">LinkedIn</a>
			<a href="//medium.com/@leovhaaren">Medium</a>
		</p>
	</div>
</template>

<static-query>
query {
  metaData {
    siteName
  }
}
</static-query>

<script>
export default {
	props: ['showTitle']
}
</script>

<style lang="scss">
.author {
	margin: 0 auto;
	max-width: 500px;
	text-align: center;
	padding: calc(var(--space) / 2) 0;

	&__image {
		border-radius: 100%;
		width: 90px;
		height: 90px;
		margin-bottom: 1em;
	}

	&__intro {
		opacity: .8;
	}

	&__site-title {
		font-size: 1.5em;
	}

	&__links {
		margin-top: -.5em;
		a {
			margin: 0 .5em;
		}
	}
}
</style>
